.header {
    margin-bottom: 40px;
}

.payment {
    margin-top: 40px;
}

.how-it-works {
    position: relative;
    display: flex;
}

.how-it-works-point {
    margin-top: 26px;
    margin-bottom: 26px;
}

.directive-sample {
    display: block;
    margin-left: 16px;
    width: 330px;
}

.directive-sample-arrow {
    position: absolute;
    right: 95px;
    top: -42px;
}

.footer {
    margin-top: 40px;
    border-top: 1px solid gainsboro;
    text-align: center;
    padding-top: 24px;
}
