<a
    title="see Github"
    target="_blank"
    class="header-link"
    href="https://github.com/ng-web-apis/payment-request"
>
    <img
        width="128"
        height="128"
        src="https://raw.githubusercontent.com/ng-web-apis/payment-request/master/assets/payment-request.svg?sanitize=true"
        alt="logo"
    />
    <h2>
        @ng-web-apis/payment-request
    </h2>
</a>
<h2>
    A declarative
    <a
        target="_blank"
        href="https://developer.mozilla.org/en-US/docs/Web/API/Payment_Request_API"
        >PaymentRequest API</a
    >
    for Angular
</h2>
